body {
background-color:#f1f1f1f1;
}
.main-nav {
  background-color :#fff;
  padding: 5px;
  border-bottom: 1px solid #403c3c12;
  margin-bottom: 50px;
}

.icon li {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    margin-bottom: -7px;
    list-style: none;
    color: #000;
}
.icon {
    margin-left: 639px;
    position: absolute; 
    margin-top: 7px;
}

.icon  li  a {
  color: #00000085;
  font-size: 16px;
  font-weight: bold;
}

.india {
     font-size: 46px;
     color: #000;
}

.nav  {
    list-style-type: none;
    position: absolute;
    flex-direction: row;
    margin-left: 399px;   
}

.nav > li {
  display: inline;
  margin: 10px;
}

.nav .active a{
    color: #FF001C;
}

.nav li a {
    color: #00000085;
    font-size: 16px;
    font-weight: bold;
    display: inline;
    /* margin-top: 6px; */
    margin-left: -26px;
}
.home-post {
    background-color: #fff;
    margin-top: 20px;
    padding: 31px;
    font-family: sans-serif;
    font-size: 17px;
    border: 1px solid #7575753d;
    border-radius: 4px;
}
.home-post>p {
    color: #5d5959;
}
.home-post>h1 {
  font-family: italic;
}
.home-post>h3 {
       color: #5f5959;    
}


.excerpt {
  text-align: center;
  color: #504b4b;
  font-family: italic;
  font-size: 17px;
  margin: 20px;
}
.show-post {
    background-color: #fff;
    margin-top: 20px;
    padding: 31px;
    font-family: sans-serif;
    font-size: 17px;
    border: 1px solid #7575753d;
    border-radius: 4px;
}
.author-img {
    background-color: #ff2020;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 49px;
    position: absolute;
    margin-top: 5px;
}
.author-name {
    display: inline-block;
    margin-left: 60px;
    padding: 16px;
    margin-top: -15px;
    font-size: 20px;
    font-family: cursive;
}
.user {
    margin-left: -6px;
    margin-bottom: -4px;
    font-family: cursive;
    color: #05056b;
}
.comment-text {
    display: inline-block;
    margin-top: -34px;
    margin-left: 184px;
    font-size: 14px;
    color: #403e3e;
}
.comment-sec {
  display: inline-block;
}

.title {
    color: #000;
    font-size: 31px;
    font-family: italic;
}
.description {
    color: #585858;
    font-size: 15px;
}
.img-user-time {

}
.like-comment-share {
  text-align: center;
}
.like-comment-share>div {
    display: inline-block;
    text-align: center;
   
}
.text-right {
    text-align: right!important;
    position: relative;
    width: 93%;
    margin-left: 20px;
}
.form-control {
     border-radius: 31px;
    font-size: 14px;
    padding: 0px;
    padding-left: 22px;
}

.like-button {
   float: left;
   margin-left: 19px;
}
.share-button {
    float: right;
    margin-right: 33px;
        
}
.glyphicon {
    margin: 10px;
}
.hr-like-upper {
 color: #000;
}
.hr-like-lower {
color: #000;
}